<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <style>
            body {
                padding: 0;
                margin: 0;
                background-color: #26272C;
            }
            body, a, button {
                color: #E2DDD9;
                font-family: Arial, serif;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
            }
            form.text, form.form-delete div {
                display: inline-block;
            }

            form.text button {
                border: none;
                background-color: inherit;
                padding: 0;
                cursor: pointer;
                display: inline-block;
                text-decoration: underline;
                user-select: text;
            }

            form.regular {
                display: flex;
                justify-content:center;
            }

            form.regular .subform {
                /*border: 1px solid #26272C;*/
                padding: 5px;
                /*border-radius: 5px;*/
                display: block;
                clear: both;
            }

            form.regular > div {
                background-color: #44474E;
                padding: 1.5em 1em;
                min-width: 25em;
                border-radius: 6px;
            }

            form.regular > div > div:not(:last-of-type) {
                margin-bottom: 15px;
            }

            form.regular > div > div > label {
                display: block;
                line-height: 1.2em;
            }

            form.regular > div > div > label + ul {
                color: #FCCF3A;
                list-style-type: none;
                margin: 0;
                padding-left: 0;
            }

            form.regular input, form.regular select, form.regular textarea {
                background-color: #DDDCBE;
                border: none;
                height: 1.8em;
                font-size: 16px;
                padding: .2em .5em;
                border-radius: 3px;
            }

            form.regular > div > div:last-of-type {
                overflow: hidden;
            }

            form.regular button
            {
                cursor: pointer;
            }

            form.regular button[type="submit"], form.regular button.cancel {
                float: right;
                color: #E2DDD9;
                border-radius: 7px;
                padding: .4em 1.2em;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border: 1px solid #35373D;
            }

            form.regular button[type="submit"] {
                background-color: #4D8734;
            }

            form.regular button.cancel {
                background-color: #B50006;
                margin-right: .4em;
            }

            form.regular button[type="submit"]:hover {
                transition-duration: 0.2s;
                background-color: #4D9934;
            }

            form.regular button.cancel:hover {
                background-color: #D10006;
                transition-duration: 0.2s;
            }

            form.regular input:focus, form.regular select:focus, form.regular textarea:focus {
                outline: none !important;
                box-shadow: inset 0 0 1px 1px #4D8734;
            }

            form.regular input, form.regular textarea {
                width: 100%;
                box-sizing: border-box;
            }

            .subform *{
                width: auto;
            }

            form.regular textarea {
                height: 5em;
            }

            form.regular select {
                margin-right: .2em;
            }

            form.regular div > div > div > div {
                display: inline-block;
            }

            form.regular div > div > div > div:not(:last-of-type) {
                margin-right: 10px;
            }

            form.regular input[type="checkbox"],  form.regular input[type="radio"] {
               display: none;
            }

            form.regular input:disabled, form.regular select:disabled, form.regular textarea:disabled {
                background-color: #9E9D87;
            }

            form.regular input[type="checkbox"] + label, form.regular input[type="radio"] + label {
                margin-right: .7em;
            }

            form.regular input[type="checkbox"] + label:before {
                border: none;
                content: "\00a0";
                display: inline-block;
                font: 16px sans-serif;
                line-height: 17px;
                height: 1.0em;
                width: 1.0em;
                margin: 3px 4px 0 0;
                padding: 0;
                vertical-align: top;
                background: #DDDCBE;
                border-radius: 3px;
            }

            form.regular input[type="radio"] + label:before {
                border: none;
                content: "\00a0";
                display: inline-block;
                font: 16px sans-serif;
                line-height: 17px;
                height: 1.0em;
                width: 1.0em;
                margin: 3px 4px 0 0;
                padding: 0;
                vertical-align: top;
                background: #DDDCBE;
                border-radius: 8px;
            }

            form.regular input[type="checkbox"]:checked + label:before {
                background: #DDDCBE;
                color: #000;
                content: "\2714";
                text-align: center;
            }

            form.regular input[type="radio"]:checked + label:before {
                background: #DDDCBE;
                color: #000;
                content: "\25CF";
                text-align: center;
            }




            form.regular div .recurrence_week, form.regular div .recurrence_month, form.regular div .recurrence_year{
                display: none;
            }
        {% block stylesheets %}
        {% endblock %}
        </style>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div style="font-family: Garamond serif,serif; height: 60px; width: 100%; background-color: #4D8734; padding: 10px; color: #fff;">
        <a href="{{ path('task_overview') }}">home</a><br/>
    </div>
    {% if is_granted('IS_AUTHENTICATED') %}
        <div style="padding: 12px; text-align: right; float: right"><a href="{{ path('user_logout') }}">logout</a></div>
    {% endif %}
    <div style="padding: 12px">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
